#admin {
  position: fixed;
  right: 0;
  top: 0;
  background: $admin-bg-color;
  color: $admin-color;
  padding: 0.3em 2em 0.3em 0.8em;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: $admin-border-color;
  @include border-radius(0 0 0 0.3em);
  @include box-sizing(border-box);
  @include box-shadow(0.2em 0.2em 0 0 transparentize(black, 0.9));
  a {
    q-text-decoration: none;
    display: block;
    &.logout {
      text-decoration: none;
      color: $admin-border-color;
      float: right;
      margin-right: -1.5em;
      font-size: 110%;
      font-weight: bold;
      text-align: center;
      height: 1em;
      width: 1em;
      &:hover {
        color: lighten($admin-border-color, 20%);
      }
    }
  }
}