#login {
  width: 20em;
  margin: auto;
  padding: 2em;
  border: 2px solid #eee;
  header {
    font-size: 160%;
    text-align: center;
  }
  .field {
    width: 80%;
    margin: auto;
    label {
      display: block;
    }
    input {
      width: 100%;
    }
  }
  .actions {
    margin: auto;
    padding: 1em 0 0 0;
    width: 80%;
    input {
      float: right;
    }
  }
}
