/* Imports */
@import "blueprint/reset";
@import "blueprint/typography";
@import "compass/css3";

/* Settings */
$subtle_color: #def;


/* Styles  */
body {
  @include blueprint-typography();
}

#title, #body {
  max-width: 720px;
  padding: 0 1em;
  margin: 1em auto;
}
#body {
  p {
    text-align: justify;
  }

  blockquote {
    padding: 0.3em;
    border: 1px solid #eee;
    @include border-radius(0.3em);
    @include box-sizing(border-box);
    @include box-shadow(0.3ex 0.3ex 0 #b3b3b3);
    p:last-child {
      margin-bottom: 0;
    }
    cite {
      color: lighten($alt-text-color, 30%);
    }
  }
}

#admin {
  position: fixed;
  left: 0;
  top: 0;
  background: $info-bg-color;
  color: $info-color;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: $info-border-color;
  padding: 0.2em;
  @include border-radius(0 0 0.3em 0);
  @include box-sizing(border-box);
  @include box-shadow(0.2em 0.2em 0 0 transparentize(black, 0.9));
  a {
    text-decoration: none;
  }
}

#flash {
  div {
    margin: 0 auto 1em auto;
    padding: 0.5em;
    border: 1px solid #777;
    p {
      text-align: center;
      margin: 0.2em 0.5em 0.2em 2em;
      padding: 0;
    }
    a.close {
      float: right;
      font-size: 130%;
      text-decoration: none;
      padding: 0 0.3em;
      @include text-shadow(1px 1px 2px transparentize(black, 0.8));
      &:hover {
        @include text-shadow(0 0 0);
      }
    }
    &.notice {
      background-color: $success-bg-color;
      border-color: $success-border-color;
      color: $success-color;
      a {
        color: $success-color;
        &:hover {
          color: lighten($success-color, 30%);
        }
      }
    }
    &.alert {
      background-color: $error-bg-color;
      border-color: $error-border-color;
      color: $error-color;
      a {
        color: $error-color;
        &:hover {
          color: lighten($error-color, 30%);
        }
      }
    }
  }
}

#login {
  width: 20em;
  margin: auto;
  padding: 2em;
  border: 2px solid #eee;
  header {
    font-size: 160%;
    text-align: center;
  }
  .field {
    width: 80%;
    margin: auto;
    label {
      display: block;
    }
    input {
      width: 100%;
    }
  }
  .actions {
    margin: auto;
    padding: 1em 0 0 0;
    width: 80%;
    input {
      float: right;
    }
  }
}