/* Imports */
@import "blueprint/reset";
@import "blueprint/typography";
@import "compass/css3";

/* Settings */


/* Styles  */
body {
  @include blueprint-typography();
}

#title, #body {
  max-width: 720px;
  padding: 0 1em;
  margin: 1em auto;
}
#body {
  p {
    text-align: justify;
  }

  blockquote {
    padding: 0.3em;
    border: 1px solid #eee;
    @include border-radius(0.3em);
    @include box-sizing(border-box);
    @include box-shadow(0 0.3em 0.3em 0 #b3b3b3);
    p:last-child {
      margin-bottom: 0;
    }
    cite {
      color: lighten($alt-text-color, 30%);
    }
  }
}
