%section#admin
  = link_to "&times;".html_safe, logout_path, :class => 'logout', :title => "Logout"
  = current_user.name
  = link_to "analytics", "https://www.google.com/analytics/reporting/?id=40326979"
  - if controller.is_a? PageController
    = link_to "edit page", "/editor" + request.path, id: "edit_link", data: {save_url: mercury_update_page_path(@page)}